@model BirdingJournal.Models.BirdSighting
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>New Bird</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <link rel="stylesheet" href="~/css/site.css" crossorigin="anonymous">
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<!-- twitter-typeahead -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.3.1/typeahead.bundle.min.js"></script>
  </head>
<div class="form-group">
	<div method="get" action="SearchBird">
		<label asp-for="BirdCommonName" class="form-label">Bird's Common Name:</label>
		<input asp-for="BirdCommonName" class="input-field" type="text" id="search-box" class="typeahead" data-provide="typeahead" placeholder="Search birds...">
			<ul class="dropdown">
			<!-- options will be added dynamically here -->
		</ul>
	<script>
		$(document).ready(function () {
			var engine = new Bloodhound({
				datumTokenizer: function (datum) {
					return Bloodhound.tokenizers.whitespace(datum.value);
				},
				queryTokenizer: Bloodhound.tokenizers.whitespace,
				remote: {
					url: '@Url.Action("SearchBird", "Home")?term=%QUERY',
					wildcard: '%QUERY'
				}
			});
			var dropdown = $('.typeahead .dropdown');
			var input = $('.typeahead input');


			$('#search-box').typeahead({
				minLength: 3,
				highlight: true
			},
			{
				name: 'birds',
				source: engine,
				display: function (data) {
					return data; // Display the bird common name
				},
				templates: {
					suggestion: function (data) {
						return '<div>' + data + '</div>'; // Format the suggestion with the bird common name
					}
				}
			});
				input.on('typeahead:render', function(event, suggestions) {
				var html = '';

				$.each(suggestions, function(index, suggestion) {
				html += '<li>' + suggestion.value + '</li>';
				});

				dropdown.html(html);
			});
			$('#input').typeahead('destroy');
		});
	</script>
	</div>
</div>