@model BirdSighting
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>LifeList</title>
        <link href="/lib/bootstrap/css/bootstrap-reboot.min.css" rel="stylesheet">
    </head>
    <body>
        <div>
            Your Birding Life List
        </div>
        <div class ="navbar-brand ml-2">
            @Html.ActionLink("Add New Bird Sighting", "NewBird", "Home", null, new {@class="page-scroll"})
        </div>
    </body>
</html>