@model BirdingJournal.Models.BirdSighting
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>New Bird</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="~/css/site.css" crossorigin="anonymous">
  </head>
	<div class="section" id="booking">
		<div class="section-center">
			<div class="container">
				<div class="row">
					<div class="col-md-7 col-md-push-5">
						<div class="booking-cta">
							<h1>Add New Bird Sighting</h1>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi facere, soluta magnam consectetur molestias itaque
								ad sint fugit architecto incidunt iste culpa perspiciatis possimus voluptates aliquid consequuntur cumque quasi.
								Perspiciatis.
							</p>
						</div>
					</div>
					<div class="col-md-4 col-md-pull-7">
						<div class="booking-form">
                            <form asp-action="NewBirdPost" method="post">
								<div class="form-group">
                                    <label asp-for="BirdCommonName" class="form-label">Bird's Common Name:</label>
                                    <input asp-for="BirdCommonName" class="form-control" type="text" placeholder="Bald Eagle" />
								</div>
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
                                            <label asp-for="Location" class="form-label">Location:</label>
                                            <input asp-for="Location" class="form-control" type="text" placeholder="Fort DeSoto State Park" />
								        </div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
                                            <label asp-for="SpottedDate" class="form-label">Spotted Date: </label>
                                            <input asp-for="SpottedDate" class="form-control" type="date"  />
								        </div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-4">
										<div class="form-group">
                                            <label asp-for="IsFemale" class="form-label">Was bird male or female? (Optional)</label>
											<select asp-for="IsFemale" class="form-control">
												<option>Male</option>
												<option>Felale</option>
												<option>Pair</option>
											</select>
											<span class="select-arrow"></span>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-group">
                                            <label asp-for="IsJuvenile" class="form-label">Was bird adult or juvenile? (Optional)</label>
											<select asp-for="IsJuvenile" class="form-control">
												<option>Adult</option>
												<option>Juvenile</option>
											</select>
											<span class="select-arrow"></span>
										</div>
									</div>
								</div>
								<div class="form-btn">
									<button class="submit-btn">Record Sighting</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
