@model BirdingJournal.Models.BirdSighting
@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>New Bird</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <link rel="stylesheet" href="~/css/site.css" crossorigin="anonymous">
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<!-- twitter-typeahead -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.3.1/typeahead.bundle.min.js"></script>
	<script src="/_framework/aspnetcore-browser-refresh.js"></script>
	<script src="~/js/site.js"></script>
  </head>
  <body>
	<div class="section" id="booking">
		<div class="section-center">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-md-pull-7">
						<div class="booking-form">
                            <form id="birdSighting" asp-action="NewBirdPost" asp-controller="Home" method="post">
								@await Html.PartialAsync("BirdSearchView")
								<div class="row">
									<div class="form-group">
										<label asp-for="Location" class="form-label">Location:</label>
										<input asp-for="Location" class="form-control" type="text" placeholder="Fort DeSoto State Park" />
									</div>
								</div>
								<div class="row">
									<div class="form-group">
										<label asp-for="SpottedDate" class="form-label">Spotted Date: </label>
										<input asp-for="SpottedDate" class="form-control" type="date"  />
									</div>
								</div>
								<div class="row">
									<div class="form-group">
										<label asp-for="IsFemale" class="form-label">Was bird male or female? (Optional)</label>
										<select asp-for="IsFemale" class="form-control">
											<option>Male</option>
											<option>Female</option>
											<option>Pair</option>
										</select>
										<span class="select-arrow"></span>
									</div>
								</div>
								<div class="row">
									<div class="form-group">
										<label asp-for="IsJuvenile" class="form-label">Was bird adult or juvenile? (Optional)</label>
										<select asp-for="IsJuvenile" class="form-control">
											<option>Adult</option>
											<option>Juvenile</option>
										</select>
										<span class="select-arrow"></span>
									</div>
								</div>
								<div class="row">
									<div class="form-group">
										<label asp-for="Notes" class="form-label">Notes: </label>
										<input asp-for="Notes" class="form-control" type="text"  />
									</div>
								</div>
								<div class="form-btn">
									<button class="submit-btn" type="submit">Record Sighting</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  </body>