@model BirdingJournal.Models.BirdSighting
@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
    <head>
        <meta name ="viewport" content="width=device-width" />
        <title>Thanks</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

        <link rel="stylesheet" href="~/css/site.css" crossorigin="anonymous">
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <!-- twitter-typeahead -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.3.1/typeahead.bundle.min.js"></script>
        <script src="/_framework/aspnetcore-browser-refresh.js"></script>
        <script src="~/js/site.js"></script>
    </head>
    <body>
        <div>
            <h3>New Bird Sighting Added</h3>
        </div>
        <div>
            <p>Your @Model.SpottedDate.ToShortDateString() <b>@Model.BirdCommonName</b> sighting has been added to your Life List.</p>
        </div>
        <div>
            Click <a asp-action="Index">here</a> to see your Life List. 
        </div>
    </body>
</html>